.selected {
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 100%;
    transition: transform .4s;
}

/* to not have scale on hover of the already selected one */
.selected:hover {
    transform: scale(1) !important;
    /* important flag to prevent TW from overriding it */
}

[data-topBar] {
    transition: transform .5s ease-in-out;
}

.js-bar-hidden {
    transform: translateY(-100%);
}

.js-bar-visible {
    transform: translateY(0);
}